In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('/home/manuel/Elements/Datasets/wapo.csv')
df.head()

,id,date,description,editor_note,blurb,name,age,gender,race,armed,threat_level_display,city,state,address,lat,lon,is_geocoding_exact,weapon
0,3,2015-01-02,"Elliot, who was on medication for depression, ...",NaN,a 53-year-old man of Asian heritage armed with...,Tim Elliot,53.0,M,A,gun,attack,Shelton,WA,600 block of E. Island Lake Drive,47.246826,-123.121592,True,DEADLY
1,4,2015-01-02,Washington County sheriff's deputies were answ...,NaN,"a 47-year-old white man armed with a gun, was ...",Lewis Lee Lembke,47.0,M,W,gun,attack,Aloha,OR,4519 S.W. Masters Loop,45.486199,-122.891281,True,DEADLY
2,5,2015-01-03,"A Wichita police officer, who had been told Qu...",NaN,"an unarmed 23-year-old Hispanic man, was shock...",John Paul Quintero,23.0,M,H,unarmed,other,Wichita,KS,500 block of North Oliver,37.694766,-97.280554,True,NaN
3,8,2015-01-04,"Hoffman, who brandished a BB gun at officers i...",NaN,"a 32-year-old white man with a toy weapon, was...",Matthew Hoffman,32.0,M,W,toy weapon,attack,San Francisco,CA,630 Valencia Street,37.762910,-122.422001,True,TOY
4,9,2015-01-04,Evans police officers shot Rodriguez outside a...,NaN,a 39-year-old Hispanic man armed with a nail g...,Michael Rodriguez,39.0,M,H,nail gun,attack,Evans,CO,818 31st Street,40.383937,-104.692261,True,NaN

In [44]:
# Há colunas que não iteressam
df = df.drop(['description', 'editor_note', 'name', 'age', 'gender', 'city', 'state', 'address', 'lat', 'lon', 'is_geocoding_exact'], axis=1)
df.head()

,id,date,blurb,race,armed,threat_level_display,weapon
0,3,2015-01-02,a 53-year-old man of Asian heritage armed with...,A,gun,attack,DEADLY
1,4,2015-01-02,"a 47-year-old white man armed with a gun, was ...",W,gun,attack,DEADLY
2,5,2015-01-03,"an unarmed 23-year-old Hispanic man, was shock...",H,unarmed,other,NaN
3,8,2015-01-04,"a 32-year-old white man with a toy weapon, was...",W,toy weapon,attack,TOY
4,9,2015-01-04,a 39-year-old Hispanic man armed with a nail g...,H,nail gun,attack,NaN

In [45]:
# Remover casos onde a raça não está determinada
is_race_unk = df['race'] != ""
df = df[is_race_unk]

In [46]:
df.count()
# Contabilizamos um total de 867 mortos

id                      912
date                    912
blurb                   912
race                    867
armed                   910
threat_level_display    912
weapon                  518
dtype: int64

In [47]:
# Tentar perceber quantos dos mortos estavam desarmados
weapons_type = df.armed.unique()
print(weapons_type)

['gun' 'unarmed' 'toy weapon' 'nail gun' 'knife' 'vehicle' 'shovel'
 'hammer' 'hatchet' 'undetermined' 'sword' 'machete' 'box cutter'
 'metal object' 'screwdriver' 'lawn mower blade' 'flagpole'
 'guns and explosives' 'cordless drill' 'crossbow' 'metal pole' 'Taser'
 'metal pipe' 'metal hand tool' 'blunt object' 'metal stick'
 'sharp object' 'meat cleaver' nan 'carjack' 'chain' "contractor's level"
 'unknown weapon' 'stapler' 'beer bottle' 'bean-bag gun'
 'baseball bat and fireplace poker' 'straight edge razor']

In [48]:
is_unarmed = df['armed'] == 'unarmed'
df_unarmed = df[is_unarmed]
df_unarmed.count()

id                      82
date                    82
blurb                   82
race                    82
armed                   82
threat_level_display    82
weapon                   5
dtype: int64

In [49]:
# Resumo:
# Total de mortes: 867
# Total de mortes em indiviuos desarmados: 82
# Vamos ver dos desarmados, quantos são negros
is_unarmed_and_black = df_unarmed['race'] == "B"
df_unarmed_and_black = df_unarmed[is_unarmed_and_black]
df_unarmed_and_black.count()

id                      31
date                    31
blurb                   31
race                    31
armed                   31
threat_level_display    31
weapon                   2
dtype: int64

In [50]:
is_unarmed_and_white = df_unarmed['race'] == "W"
df_unarmed_and_white = df_unarmed[is_unarmed_and_white]
df_unarmed_and_white.count()

id                      29
date                    29
blurb                   29
race                    29
armed                   29
threat_level_display    29
weapon                   3
dtype: int64

In [51]:
# Update Resumo:
# Total de mortes: 867
# Total de mortes em indiviuos desarmados: 82
# Total de mortes em indiviudos negros e desarmados: 31

# Vamos ver o número total de negros mortos
is_black = df['race'] == 'B'
df_black_deads = df[is_black]
df_black_deads.count()

id                      235
date                    235
blurb                   235
race                    235
armed                   234
threat_level_display    235
weapon                  130
dtype: int64

In [52]:
# Update Resumo:
# Total de mortes: 867
# Total de mortes em indiviuos desarmados: 82
# Total de mortes em indiviudos negros e desarmados: 31
# Total de negros mortos: 235

# Vamos ver o número total de negros mortos
is_white = df['race'] == 'W'
df_white_deads = df[is_white]
df_white_deads.count()

id                      443
date                    443
blurb                   443
race                    443
armed                   442
threat_level_display    443
weapon                  277
dtype: int64

In [53]:
# Update Resumo:
# Total de mortes: 867
# Total de mortes em indiviuos desarmados: 82
# Total de mortes em indiviudos negros e desarmados: 31
# Total de negros mortos: 235
# Total de brancos mortos: 443